* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
}

body {
	background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.container {
	min-height: 100vh;
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	padding: 50px;
	display: flex;
	flex-direction: column;
}

.header-wrapper {
	text-align: center;
	font-size: 32px;
	color: #fefefe;
	padding: 20px;
	background-color: rgba(0, 0, 0, .2);
	margin: 20px 0;
}

.flex-nav {
	.show-nav {
		display: none;
	}
}

ul {
	margin: 40px auto;
	border: 2px solid #000;
	background-color: rgba(0, 0, 0, .2);
	display: flex;
	li {
		flex: 2;
		padding: 10px;
		text-align: center;
		transition: all .5s;
		&:hover {
			background-color: rgba(0, 0, 0, .4);
			cursor: pointer;
			// border-left: 1px solid #fff; 
		}
	}
	.emoji {
		flex: 1;
	}
}

.content {
	background-color: rgba(0, 0, 0, .2);
	padding: 20px;
	// padding: 0;
	img {
		width: 100%;
		height: 50%;
	}
}

.detail {
	margin: 20px 0;
	padding: 20px;
	background-color: rgba(0, 0, 0, .2);
	text-align: center;
}

.signup-wrapper {
	padding: 20px;
	margin: 20px 0;
	text-align: center;
	background-color: rgba(0, 0, 0, .2);
	.signup {
		input {
			margin: 10px 0;
			padding: 10px;
			border: 0;
		}
	}
}

footer {
	padding: 20px;
	text-align: center;
	margin: 20px 0;
	background-color: rgba(0, 0, 0, .2);
}

.container > * {
	order: 9999;
}

.show-nav {
	background-color: rgba(0, 0, 0, .2);
	padding: 20px;
	text-align: center;
}

@media all and (max-width: 1000px) {
	ul {
		flex-wrap: wrap;
		li {
			flex: 1 1 50%;
		}
	}
}

@media all and (max-width: 500px) {
	ul {
		margin-top: 0;
		li {
			flex-basis: 100%;
		}
	}
	.container {
		padding: 0;
	}
	.flex-nav {
		order: 1;
		ul {
			display: none;
		}

		.open {
			display: flex;
		}

		.show-nav {
			display: block;
		}
	}
	.signup {
		display: flex;
		flex-direction: column;
		input {
			display: block;
		}
	}

}